# Firebase config — récupère ces valeurs dans la console Firebase
# Console > Paramètres du projet > Vos applications > Configuration SDK
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=suna-police.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=suna-police
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=suna-police.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=369746286227
NEXT_PUBLIC_FIREBASE_APP_ID=1:369746286227:web:...
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://suna-police-default-rtdb.europe-west1.firebasedatabase.app
